@model WebServicesView.Models.NumeroIngresado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datos Ingresados</title>
</head>
<body>
    <div>
        <label>El valor para restar el binario enviado de la Raspberry: @Model.numero y el Valor Binario es  <br /> </label>
    </div>
</body>
</html>
